.blogpost__title {
    font-size: 40px;
}
.blogpost__edit {
    text-align: right;
}
.blogpost__image {
    max-width: 100%;
    max-height: 100%;
}
.blogpost__content {
    font-size: 18px;
    line-height: 40px;
}
.blogpost__content-container {
    padding-bottom: 70px;
}