@import './css/header.scss';
@import './css/login.scss';
@import './css/register.scss';
@import './css/breadcrumb.scss';
@import './css/blogPost.scss';
@import './css/blogComment.scss';
@import './css/news.scss';
@import './css/contact.scss';
@import './css/footer.scss';

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.woff") format("woff"), 
      url("fonts/Montserrat-SemiBold.otf") format("opentype"), 
      url("fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: 'Yu Gothic';
  src: url("fonts/yugothib.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  position: relative;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
